body {
    background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg");
      background-size: cover;
      background-repeat: no-repeat;
     }
     
