body {
  background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

nav ul{height:800px; width:245px;}
nav ul{overflow:hidden; overflow-y:scroll;}
nav ul{background-color: white;
font-size: 30px; font-weight: bold}
